{% for flashMessage in app.session.flashbag.get('error') %}
  <div class="alert alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ flashMessage|trans }}
  </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
  <div class="alert">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ flashMessage|trans }}
  </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ flashMessage|trans }}
  </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('info') %}
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ flashMessage|trans }}
  </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ flashMessage|trans }}
  </div>
{% endfor %}
